# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
apps/web/node_modules
apps/web/.pnp
apps/web/.pnp.js
apps/web/.yarn/install-state.gz

# testing
apps/web/coverage

# next.js
apps/web/.next/
apps/web/out/

# production
apps/web/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
apps/web/next-env.d.ts

# supabase local dev
apps/supabase/.branches
apps/supabase/.temp

